@using EasyCompSolutionOfficial.Models;
@model List<YoutubeLink>

@{
    ViewBag.Title = "Index";
}


<html ng-app="gridListDemo1">

<head>
    <title>Projects</title>
    <link href="~/node_modules/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="~/Styles/Style.css" rel="stylesheet" />
    <script src="~/node_modules/angular/angular.min.js"></script>
    <script src="~/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="~/node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="~/node_modules/angular-material/angular-material.min.js"></script>
    @*<script src="~/Scripts/angular.min.js"></script>*@
    <script src="~/Scripts/Script.js"></script>
    <style>
        .gridListdemoBasicUsage md-grid-list {
            margin: 8px;
        }

        .gridListdemoBasicUsage .gray {
            background: #f5f5f5;
        }

        .gridListdemoBasicUsage .green {
            background: #b9f6ca;
        }

        .gridListdemoBasicUsage .yellow {
            background: #ffff8d;
        }

        .gridListdemoBasicUsage .blue {
            background: #84ffff;
        }

        .gridListdemoBasicUsage .purple {
            background: #b388ff;
        }

        .gridListdemoBasicUsage .red {
            background: #ff8a80;
        }
    </style>

    <script>

        angular.module('gridListDemo1', ['ngMaterial'])
        .controller('AppCtrl', function ($scope) { });
    </script>

</head>
<body>

    <div ng-controller="AppCtrl as appCtrl" ng-cloak class="gridListdemoBasicUsage">

        <md-toolbar md-scroll-shrink ng-if="true">Easy Comp Solution Projects</md-toolbar>

        @*@for (int i = 0; i < @Model.Count; i++)
            {
                <md-toolbar md-scroll-shrink ng-if="true">@Model[i].Link</md-toolbar>
            }*@

        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                      md-row-height-gt-md="1:1" md-row-height="2:2"
                      md-gutter="12px" md-gutter-gt-sm="8px">

            <md-grid-tile class="gray"
                          md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                @*<img src="~/Images/Project01.jpg" />*@
                @*<div layout="row">
                        <div flex="100"><iframe width="100%" src="https://www.youtube.com/embed/zKkUN-mJtPQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                    </div>
                    <div layout="column">
                        <div flex="100">
                            <iframe width="100%" src="https://www.youtube.com/embed/zKkUN-mJtPQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>*@



                <div layout="row" flex-gt-sm="100" flex>
                    <md-content>

                        <md-list flex>
                            <md-subheader class="md-no-sticky">3 line item (dense)</md-subheader>

                            <md-list-item class="md-2-line">
                                @*<img ng-src="{{item.face}}?{{$index}}" alt="{{item.who}}" />*@
                                <img src="~/Images/Project05.jpg" class="md-avatar" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>@Html.ActionLink("Create New Link", "Create")</h3>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item class="md-3-line">
                                <img src="~/Images/Project05.jpg" class="md-avatar" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>@Html.ActionLink("Edit Link", "Edit")</h3>
                                </div>
                            </md-list-item>

                            @for (int i = 0; i < @Model.Count; i++)
                            {
                                <md-divider></md-divider>
                                <md-list-item class="md-3-line">
                                    <img src="~/Images/Project05.jpg" class="md-avatar" />
                                    <div class="md-list-item-text" layout="column">
                                        <h3>@Model[i].Title</h3>
                                        <a href="@Model[i].Link.Replace("https://www.youtube.com/embed/", "https://www.youtube.com/watch?v=")" target="_blank">Watch Video</a>
                                    </div>
                                </md-list-item>
                            }

                        </md-list>
                    </md-content>
                </div>
                <md-grid-tile-footer>
                    <h3>#1: (3r x 2c)</h3>
                </md-grid-tile-footer>
                <md-grid-tile-header>
                    <h3>This is a header</h3>
                </md-grid-tile-header>
            </md-grid-tile>

            @for (int i = 0; i < @Model.Count; i++)
            {

                <md-grid-tile class="green">
                    <md-grid-tile-header>
                        <h3>@Model[i].Title</h3>
                    </md-grid-tile-header>
                    <div layout="row">
                        <div flex="">
                            <iframe width="100%" src="@Model[i].Link" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                    <md-grid-tile-footer>
                        <a href="@Model[i].Link.Replace("https://www.youtube.com/embed/", "https://www.youtube.com/watch?v=")" target="_blank">Watch Video</a>
                         @Html.ActionLink("Edit", "Edit", new { @id = @Model[i].Id }) 
                        @*<h3> @Model[i].Link.Replace("https://www.youtube.com/embed/", "https://www.youtube.com/watch?v=")</h3>*@
                    </md-grid-tile-footer>
                </md-grid-tile>


            }


            <md-grid-tile class="green">
                <img src="~/Images/Project02.png" />
                <md-grid-tile-footer>
                    <h3>#2: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="yellow">

                <img src="~/Images/Project03.jpg" />
                <md-grid-tile-footer>
                    <h3>#3: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="blue">
                <img src="~/Images/project04.jpg" />
                <md-grid-tile-footer>
                    <h3>#4: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="blue">
                <img src="~/Images/project05.jpg" />
                <md-grid-tile-footer>
                    <h3>#5: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            @*<md-grid-tile class="red"
                              md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                    <md-grid-tile-footer>
                        <h3>#5: (2r x 2c)</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="green"
                              md-rowspan="2">
                    <md-grid-tile-footer>
                        <h3>#6: (2r x 1c)</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>*@

        </md-grid-list>
    </div>
</body>
</html>
